
<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EORM</title>
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-danger" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="static/img/LGescuela.jpg" width="50px" height="50px">
                                <span class="h5">EORM Manuel García Elgueta</span>

            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto ml-auto ">
                    <!--<li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Inicio</a></li>-->
                    <li class="nav-item"><a class="nav-link" href="Historia.html">Historia</a></li>
                 <!----   <li class="nav-item"><a class="nav-link" href="#">Register</a></li>-->
                    <li class="nav-item"><a class="nav-link active" href="login">Iniciar Sesión</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
<style>
    body{
        background: #ffffff;
        background: linear-gradient(to right, #ffffff,#ffffff);
    }
    .bg{
        background-image: url("static/img/LGescuela.jpg  "  ) ;
        background-position: center center;
    }
</style>
    <div class="container w-75 bg-primary mt-5 rounded shadow">
        <div class="row aling-items-strech">
            <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded" ><!--con esta configuracion podemos hacer que si la pantalla es peque;a se quite la imagen y todo salga de manera natural -->

            </div>
            <div class="col bg-white p-2 rounded-end">
                <div class="text-end">
                    <img src="static/img/umg.png" width="75">
                </div>
                <h2 class="fw-bold text-center pt-2 mb-3">Bienvenido</h2>

                <!--login-->
                <form action="/login" method="post">
                    <div class="mb-4"><!--base de input-->
                        <label form="text"  class="form-label">Usuario</label>
                        <input type="text" class="form-control" name="email">
                    </div>
                    <div class="mb-4">
                        <label form="password"  class="form-label">Contraseña</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Inicio Sesion</button>
                    </div>
                    <div class="my-3 d-flex justify-content-center"><!--recuperacion de cuenta-->
                        <span><a href="#">Recuperar Contraseña</a></span>
                    </div>
                </form>
                <!-- Login Con Redes Sociales-->
        </div>
    </div>  
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>