
    
    <!-- Carrousel-->
    <div id="mainSlider" class="carousel slide" data-ride="carousel" align="center">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-75" src="" alt="First slide">
          </div>
          <div class="carousel-item active">
            <img class="d-block w-75" src="static/img/school.jpg" alt="Second slide">
          </div>
          <div class="carousel-item active">
            <img class="d-block w-75" src="static/img/vista.jpg" alt="Third slide">
          </div>
        </div>
      </div>
    <!-- Ribbon listado-->
    <div id="ribbon" class="container-fluid">
        <div id="birthday" class="container w-50 pl-6 rounded-lg">

            <div class="row aling-items-center">
                <div class="col-sm p-3">
                    <img src="static/img/LGescuela.jpg" class="w-75 mx-auto d-block" alt="">
                </div>
                <div class="col-sm p-3 text-aling text-center">
                    <p class="text_warning h3">Pagina Realizada por:</p>
                    <h4>Derick Vasquez</h4>
                    <h4>Proyecto de Graduacion</h4>
                    <p class="text_warning h3">Asesorado por:</p>
                    <h4>Ing. Luis Armando Tezo</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- Separador de ribon/-->
    <div id="separator-ribbon">
        <div class="content bg-warning"></div>
    </div>
     <!-- Juegos-->
     <div id="games">
         <div class="container-md p-5">
             <div class="row pt-5">
                 <h3 class="text-center pb-5 pt-5 h1 " style="color: var(--bs-white)"> Educación Montessori</h3>
             </div>
             <div class=" row pt-5">
                 <div class="col-sm">
                    <div class="card w-100 card-border mb-5 " >
                        <img src="static/img/pasticina.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Kit de letras con Plasticina</h5>
                          <p class="card-text">En casa la plastilina es siempre diversión asegurada y este kit para aprender las letras con playmats me encanta. Ten en cuenta que el maletín no forma parte de este kit, era de otro que lo adapte para este porque pienso que le iba genial.

                            El kit de letras se compone de una especie de sellos, un rodillo, una herramienta para escribir y algunos playmats para trabajar las letras.</p>
                        </div>
                      </div>                     
                 </div>
                 <div class="col-sm">
                    <div class="card w-100 card-border mb-5 " >
                        <img src="static/img/letra.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Letras Sensoriales</h5>
                          <p class="card-text">La idea de tener este tipo de letras es que el niño pueda sentirlas para comprender su forma y luego representarla. En nuestro caso, pasamos por varias faces de experimentación y aprendizaje que yo creo, hacen más rica la experiencia. Faces que no se hacen todas en un día sino que llevan su tiempo y proceso y que dependen de cada niño</p>
                        </div>
                      </div>                     
                 </div>
                 <div class="col-sm">
                    <div class="card w-100 card-border mb-5 " >
                        <img src="static/img/dragon.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dragon de Numeros para Coser</h5>
                          <p class="card-text">Juego para trabajar la ordenación de los números además de la psicomotricidad fina ensartando las piezas con un cordel. La cabeza del dragón funciona como tope y en el otro extremo dispone de una aguja que funciona genial para que los peques puedan ayudarse y ensartar las piezas.</p>
                        </div>
                      </div>                     
                 </div>
             </div>

             <div class="row py-5">
                 <div class="col">
                     <h3 class="text-center" style="color: var(--bs-blue)">Mas informacion sobre Montessori</h3>
                 </div>
             </div>
            
         </div>
         <div class="row justify-content-center">
             <div class="col-2"><a href="https://es.wikipedia.org/wiki/Método_Montessori">Montessori</a></div>
             <div class="col-2"><a href="https://www.creciendoconmontessori.com/2020/04/juguetes-educativos-para-aprender-a-leer-y-escribir.html">CreciencoConMontessori</a></div>
             <div class="col-2"><a href="https://umg.edu.gt/?fbclid=IwAR2xVy2WoKsu058oTEl2amf81W_L7_NxaPOb59I6NtbLAkdSYjeIU6xPWGI">UMG</a></div>
         </div>
     </div>
    <!-- Separador amiibos-->
    <div id="separator-amiibos">
        <div class="content bg-success"></div>
    </div>
<script src="js/popper.min.js" ></script>
<script src="js/bootstrap.min.js"></script>